@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, welcome to Pluto!</h1>

This is Oishika's Spotify playlist creator.

<Tags />
<Spotify_login />
<SurveyPrompt Title="How is this application working for you?" />
