@page "/info"

<PageTitle>Input tags</PageTitle>

<h1>Hi!</h1>

<p role="status">This is a very basic web application I created in order to understand the fundamentals of Blazor app!</p>
<p>Thanks for visting!</p>

