<h3>Spotify login</h3>


<PageTitle>Spotify login</PageTitle>



<input placeholder="username" @bind="username" />
<input placeholder="password" type="password" @bind="password" />

<button @onclick="login">Login using spotify</button>

@code {
    private string? username;
    private string? password;

    private void login()
    {
        //logs in
    }
}
