<h3>Spotify login</h3>


<PageTitle>Pluto - Home</PageTitle>



<input placeholder="username" @bind="username"/>
<input placeholder="password" type="password" @bind="password" @onkeyup="onEnterPassword"/>

<button @onclick="login" class="btn btn-primary">Login using spotify</button>

@code {
    private string? username;
    private string? password;

    private void login()
    {
        //logic for login, will require way more work
    }

    //If the user clicks enter, after passing in the password
    //do the login logic
    private void onEnterPassword( KeyboardEventArgs e )
    {
        if( e.Code == "Enter")
        {
            login();
        }
    }
}
