<ul>
@foreach (var m_tag in m_tags)
    {
        <li>
            @m_tag
            <button class="btn btn-primary" @onclick="() => remove(m_tag)">remove</button>
        </li>
    }
</ul>

<PageTitle>Home</PageTitle>

<h1>Tags</h1>

<input placeholder="Enter tag" @bind=@m_tag @onkeyup="enter" />
<button class="btn btn-primary" @onclick="addTag">Add</button>
<button class="btn btn-primary" @onclick="clear">Clear</button>

@code {
    private string m_tag;

    private List<string> m_tags = new List<string>();

    private void addTag()
    {
        if (m_tags.Count() < 5 && m_tag != "")
        {
            m_tags.Add(m_tag);
        }
        m_tag = string.Empty;
    }
    private void enter(KeyboardEventArgs e)
    {
        //System.Console.WriteLine(e.Code);
        //System.Console.WriteLine(m_tag);
        if (e.Code == "Enter")
        {
            addTag();
        }
    }
    private void clear()
    {
        m_tags.Clear();
    }
    private void remove(string tag)
    {
        m_tags.Remove(tag);
    }
}
