<ul>
@foreach (var tag in tags)
    {
        <li>
            @tag
            <button class="btn btn-primary" @onclick="() => remove(tag)">remove</button>
        </li>
    }
</ul>

<PageTitle>Home</PageTitle>

<h1>Tags</h1>

<input placeholder="Enter tag" @bind=@tag @onkeyup="enter" />
<button class="btn btn-primary" @onclick="addTag">Add</button>
<button class="btn btn-primary" @onclick="clear">Clear</button>

@code {
    private string tag;

    private List<string> tags = new List<string>();

    private void addTag()
    {
        if (tags.Count() < 5 && tag != "")
        {
            tags.Add(tag);
            tag = string.Empty;
        }
    }
    private void enter(KeyboardEventArgs e)
    {
        System.Console.WriteLine(e.Code);
        System.Console.WriteLine(tag);
        if (e.Code == "Enter")
        {
            addTag();
        }
    }
    private void clear()
    {
        tags.Clear();
    }
    private void remove(string tag)
    {
        tags.Remove(tag);
    }
}
